@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


:root {
    /* --content-color: #010101; */
    --content-color: #2B2D42;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--content-color);
}

/* header css start */
.navbar {
    background-color: #15161D;
    color: #fff;
    border-bottom: 3px solid #D10024;
}

.navbar .navbar-nav {
    column-gap: 30px;
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 0;
    color: #fff;
}

@media only screen and (max-width:991.9px) {
    .navbar .navbar-collapse {
        display: block !important;
        background-color: #f4f4f4;
        height: 100vh;
        position: fixed;
        left: 100%;
        /* top: 57px; */
        right: 0;
        transition: all .3s ease;
    }

    .navbar .navbar-collapse.show {
        left: 0;
    }

    .navbar .navbar-toggler {
        box-shadow: none;
        border: none;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 12px 15px;
        border-bottom: 1px solid #000;
        color: var(--content-color);
    }

    .navbar-nav .nav-item:last-child .nav-link {
        border-bottom: none;
    }
}